/* css styles */
.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.l-center-container {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  height: 90%;
}

h1, h2, h3 { border-bottom: 1px solid #E3DFCF; }

.panel-tabset .tab-content {
  border-color: #E3DFCF !important;
}

.panel-tabset .nav-tabs {
  border-bottom-color: #E3DFCF !important;
}

.panel-tabset .nav-link.active {
  border-color: #E3DFCF !important;
  color: #233247;
}

.panel-tabset .nav-link {
  border-color: #E3DFCF !important;
}